.bg-radial-custom {
  background: radial-gradient(circle at top, #FECB96, #ffffff);
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  padding-top: 10rem;
  padding-bottom: 5rem;

  width: 100%;
  padding-left: 15rem;
  padding-right: 15rem;
  margin: 0 auto;
}

.about-left {
  flex: 1;
  margin-top: 3rem;
}

.about-left h1 {
  font-size: 75px;
  font-weight: 700;
  color: #000;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  white-space: nowrap;
}

.highlight {
  color: #f97316; 
}

.about-text {
  margin-top: 3.5rem;
  max-width: 540px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.7;
  color: #000;
}

.about-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem; 
  position: relative;
}

/* left image - a bit lower */
.img-left {
  margin-top: 80px;
}

/* right image - a bit higher */
.img-right {
  margin-bottom: 100px;
}

.about-images img {
  width: 330px;
  height: 440px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.about-images img:hover {
  transform: scale(1.03);
}


@media (min-width: 541px) and (max-width: 1024px) {
  .about-content {
    flex-direction: column;
    text-align: center;
    padding: 3rem 2rem;
  }

  .about-images {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  .about-text {
    max-width: 100%;
  }
}

@media (max-width: 540px) {
  .about-content {
    padding: 2rem 1rem;
    flex-direction: column;
    text-align: center;
  }

  .about-left{
    margin-top: 10vh;
  }

  .about-left h1 {
    font-size: 35px;
  }

  .about-text {
   font-size: 13px;
   margin-top: 2rem;
  }

  .about-images {
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .about-images img {
    width: 160px;
    height: 140px;
  }

  .img-left {
  margin-top: 80px;
}

/* right image - a bit higher */
.img-right {
  margin-bottom: 100px;
}
}
